.bcfield{
    width: 1350px;
}
.bcfield ul li{
    width: 160px;
}
.bcOneRecord{
    width: 1470px;
}
.bcOneRecord ul li{
    width: 150px;
}
.bcFilllInfo text{
    width: 100px;
    display: inline-block;
}
.bcFilllInfo input{
    width: 60%;
}
.bcFilllInfo span{
    width: 70px;
    display: inline-block;
    font-weight: bolder;
}