#bg{
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: none;
    position: absolute;
    background-color: rgba(0,0,0,0.2);
    z-index: 1;
}
#detail{
    width: 40vw;
    height: 400px;
    margin-left: 30vw;
    margin-top: 100px;
    position: absolute;
    background-color: white;
    border-radius: 20px;
}
.what{
    font-weight: bold;
}
#close{
    cursor: pointer;
    right: 10px;
    color: #565656;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    z-index: 2;
}
#title{
    width: 100%;
    top: 5px;
    font-size: 25px;
    font-weight: bold;
    margin-top: 10px;
    position: absolute;
    text-align: center;
}
#gys{
    width: 90%;
    margin-left: 5%;
    margin-top: 60px;
    font-size: 15px;
    position: absolute;
}
.gys_info{
    width: 100%;
    margin-top: 20px;
    display: inline-block;
}
#truecontent{
    width: 80px;
    height: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    color: white;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    line-height: 25px;
    letter-spacing: 2px;
    background-color: #6d6d6d;
    border-radius: 5px;
}
#bottom{
    width: 100%;
    position: absolute;
    bottom: 10px;
    font-size: 20px;
    color: white;
    font-weight: bold;
}
.button{
    float: left;
    height: 40px;
    width: 27.5%;
    line-height: 40px;
    text-align: center;
    margin-left: 15%;
    border-radius: 7px;
    z-index: 2;
}
#adopt{
    background-color: #00a400;
}
#refuse{
    background-color: #e50000;
}